<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="custom_admin" sortOrder="120" translate="label">
            <label>Custom Admin</label>
        </tab>
        <section id="first_section" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>First Section</label>
            <tab>custom_admin</tab>
            <resource>SimplifiedMagento_CustomAdmin::parent</resource>
            <group id="first_group" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>First Group</label>
                <field id="first_field" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>First Text Field</label>
                </field>
                <field id="second_field" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>First Select Field</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="third_field" translate="label" type="multiselect" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>First Multiple Select Field</label>
                    <source_model>SimplifiedMagento\CustomAdmin\Model\AdminArray</source_model>
                </field>
                <field id="fourth_field" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>First Simple Select Field</label>
                    <source_model>SimplifiedMagento\CustomAdmin\Model\AdminArray</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
