/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/etc/config.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/custom_options/*
!/pub/media/custom_options/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess

/pub/media/blog/*
!/pub/media/blog/.htaccess
/pub/media/magefan_blog/*
!/pub/media/magefan_blog/.htaccess
/pub/media/homepage/*
!/pub/media/homepage/.htaccess
package-lock.json

/pub/media/cms-images/*
!/pub/media/cms-images/.htaccess
/pub/media/email/*
!/pub/media/email/.htaccess
/pub/media/mageplaza/*
!/pub/media/mageplaza/.htaccess
/pub/media/og_image/*
!/pub/media/og_image/.htaccess
/pub/media/sales/*
!/pub/media/sales/.htaccess
/pub/media/seller_image/*
!/pub/media/seller_image/.htaccess
/pub/media/vicomage/*
!/pub/media/vicomage/.htaccess

# Auto-generated Feed files from Mirasvit Feed module

/pub/media/feed/tmp/*
!/pub/media/feed/tmp/.htaccess

/pub/media/feed/*
!/pub/media/feed/.htaccess

# --------------------------------

# Auto-generated files from WeltPixel Google Enhance Analytics module

/pub/media/gtmExport

# --------------------------------

# Auto-generated files by Theme
/app/design/frontend/MageBig/martfury/layout01/web/i18n/*/css/source/_custom.less
/app/design/frontend/MageBig/martfury/layout01/web/i18n/*/css/source/_mbdesign.less

/app/design/frontend/MageBig/martfury/layout01/child/web/i18n/*/css/source/_custom.less
/app/design/frontend/MageBig/martfury/layout01/child/web/i18n/*/css/source/_mbdesign.less

/app/design/frontend/MageBig/martfury/layout04/web/i18n/*/css/source/_custom.less
/app/design/frontend/MageBig/martfury/layout04/web/i18n/*/css/source/_mbdesign.less

/app/design/frontend/MageBig/martfury/layout04/child/web/i18n/*/css/source/_custom.less
/app/design/frontend/MageBig/martfury/layout04/child/web/i18n/*/css/source/_mbdesign.less

/app/design/frontend/MageBig/martfury/layout04_child/web/i18n/*/css/source/_custom.less
/app/design/frontend/MageBig/martfury/layout04_child/web/i18n/*/css/source/_mbdesign.less

# --------------------------------

# Auto-generated files by Magento

/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store

/dev/*
!/dev/.htaccess

# --------------------------------

# Deployment related files

/auth.json.sample
/deploy/
# --------------------------------
